<div class="w3-container w3-blue">
  <h2>Input Employee</h2>//do duc tue 2121050190
</div>
<form class="w3-container" asp-action="Index">
  <p>
  <label>FullName:</label>
  <input name="FullName" class="w3-round-large w3-input w3-border w3-border-blue" type="text"></p>
  <p>
  <label>LuongCB:</label>
  <input name="LuongCB" class="w3-round-large w3-input w3-border w3-border-blue" type="text"></p>
  <p>
  <label>HsLuong:</label>
  <input name="HsLuong" class="w3-round-large w3-input w3-border w3-border-blue" type="text"></p>
  <label>PhuCap:</label>
  <input name="PhuCap" class="w3-round-large w3-input w3-border w3-border-blue" type="text"></p>



   <input type="submit" value="Send Data"> 
</form>
<p>@ViewBag.TinhLuong</p>