<div class="w3-container w3-blue">
  <h2>Input Person</h2>
</div>

<form class="w3-container" asp-action="Index">
  <p>
  <label>Nhập PersonID:</label>
  <input name="PersonId" class="w3-round-large w3-input w3-border w3-border-blue" type="text"></p>
  <p>
  <label>Nhập họ tên:</label>
  <input name="FullName" class="w3-round-large w3-input w3-border w3-border-blue" type="text"></p>
  <p>
    <p>
  <label>Nhập địa chỉ:</label>
  <input name="Address" class="w3-round-large w3-input w3-border w3-border-blue" type="text"></p>
  <p>
   <input type="submit" value="gửi dữ liệu"> 
</form>
<h1>Dữ liệu từ controller gửi về là :@ViewBag.thongbao</h1>
