@* // Ho Va Ten : Do duc Tue  || Ma Sinh Vien : 2121050190 *@


@* <form asp-action="Index">
    <label for="">Nhập PersonID:</label>
    <input type="text" name="PersonId" id="">
    <label for="">Nhập họ và tên:</label>
    <input type="text" name="FullName" id="">
    <label for="">Nhập địa chỉ:</label>
    <input type="text" name="Address" id="">
    <input type="submit" value="Gửi dữ liệu">
</form> *@

<div class="w3-container w3-black w3-padding">
<form asp-action="Index" class="w3-container">
  <p>
  <label>PersonId:</label>
  <input name="PersonId" class="w3-input w3-border w3-border-blue" type="text"></p>
  <p>
  <label>Fullname:</label>
  <input name="Fullname" class="w3-input w3-border w3-border-blue" type="text"></p>
  <p>
  <label>Address:</label>
  <input name="Address" class="w3-input w3-border w3-border-blue" type="text"></p>

  <input class="w3-btn w3-border w3-border-blue w3-blue" type="submit" value="Send data">
</form>
</div>

<h2>Dữ liệu gửi từ Controller gửi về là: @ViewBag.infoPerson </h2>
