=<form asp-action="Index">
    <input type="text" name="StudentID" placeholder="Enter ID"/>
    <input type="text" name="FullName" placeholder="Enter Full name"/>
    <input type="submit" value="Send"/>
</form>
// do duc tue - 2121050190

<h1>@ViewBag.ThongBao</h1>
// Student -MVC