<form asp-action="Index">

 // trân thi mai anh -2021050093
    <label>Phương Trình Bậc 2 =  ax^2 + bx + c = 0</label><br>

    <label>a = </label><br>
    <input type="text" name="a" required placeholder="Enter the value of a "><br>
    <label>b = </label><br>
    <input type="text" name="b" required placeholder="Enter the value of b"><br>
    <label>c = </label><br>
    <input type="text" name="c" required placeholder="Enter the value of c"><br>

    <br>

    <input type="submit" value="Save">

    <br>
</form>
<p>    </p>
<p>@ViewBag.ThongBao</p>
